<div class="logo">
    <div data-toggle="tooltip" data-placement="right" title="Welcome to 3A Consultants" class="logoImage">
      <div class="cube">
        <div class="cube-face  cube-face-front">A</div>
        <div class="cube-face  cube-face-back">A</div>
        <div class="cube-face  cube-face-left">A</div>
        <div class="cube-face  cube-face-right">A</div>
        <div class="cube-face  cube-face-top">A</div>
        <div class="cube-face  cube-face-bottom">A</div>
      </div>
   </div>
</div>
